h2{
 text-align: center;
}
.div-1,  .div-2, .div-3 {
    width: 300px;
    height: 300px;
    background-color:rgb(251, 247, 247);
}
.CONTANER{
     background-image: url(./pexels-wdnet-96627.jpg);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;


}
